:root {
  --primary-color: #937dc2;
  --secondary-color: #937dc299;
  --tertiary-color: #c689c6;
  --text-color: #4d4c4c;
  --text-color-primary: #4f4c57;
  --text-color-badge: #313131;
  --text-color-secondary: #b8b8b8;
  --text-color-nav: #7b7881;
  --heading-color-primary: #382c2c;
  --heading-color-secondary: #313131;
  --dark-color: #231f2d;
  --dark-color-alpha-50: #231f2d80;
  --gray-color: #f1f1f1;
  --bg-color: #fff;

  /* LAYOUT */
  --container-width: 1200px;

  /* TYPOGRAPHY */
  --fs-xl: 48px;
  --fs-lg: 38px;
  --fs-md: 28px;
  --fs-price: 24px;
  --fs-sm: 20px;
  --fs-author: 18px;
  --fs-typ: 14px;
  --fs-badge: 12px;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  /* LINE HEIGHT */
  --lh-tight: 1.25;
  --lh-normal: 1.5;
}

body {
  font-family: Inter, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: var(--lh-normal);
}

/* TYPOGRAPHY */
.text--xl {
  font-size: var(--fs-xl);
  color: var(--heading-color-primary);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

.text--lg {
  font-size: var(--fs-lg);
  color: var(--heading-color-secondary);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
}

.text--md {
  font-size: var(--fs-md);
  color: var(--heading-color-primary);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
}

.text--sm {
  font-size: var(--fs-sm);
  color: var(--heading-color-primary);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
}

.body--text {
  color: var(--text-color);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}
