.layout-section {
  margin-bottom: 60px;
}

/* TABLET */
@media (width >= 361px) {
  .layout-section {
    margin-bottom: 80px;
  }
}

/* DESKTOP */
@media (width >= 769px) {
  .layout-section {
    margin-bottom: 110px;
  }
}
