@media (width >= 768px) {
  .breadcrumb {
    margin-top: 16px;
    font-size: var(--fs-typ);
  }

  .breadcrumb-item {
    color: var(--dark-color-alpha-50);
    text-decoration: none;
  }

  .breadcrumb-item.active {
    color: var(--dark-color);
  }

  .breadcrumb-custom {
    --bs-breadcrumb-divider: '>';
  }

  .breadcrumb-custom .breadcrumb-item + .breadcrumb-item::before {
    color: var(--primary-color);
  }
}

@media (width >= 992px) {
  .breadcrumb {
    margin-top: 24px;
  }
}
