.product-card {
  width: 274px;
  flex: 0 0 auto;
}

.product-card:last-child {
  width: 290px;
  padding-right: 16px;
}

.product-card-image {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 16px;
}

.product-card-img {
  width: 100%;
  height: 414px;
}

.product-card-wishlist {
  color: var(--bg-color);
}

.product-card-wishlist-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}

.product-card-wishlist.active {
  color: var(--primary-color);
}

.product-card-cart {
  width: 100%;
  line-height: var(--lh-normal);
  font-weight: var(--fw-regular);
  margin-top: 29px;
}

.product-card-author {
  margin-bottom: 14px;
}

@media (width >= 768px) {
  .product-card-image {
    margin-bottom: 24px;
  }
}

@media (width >= 992px) {
  .product-card-wishlist,
  .product-card {
    cursor: pointer;
  }

  .product-card:last-child {
    width: 274px;
    padding-right: 0;
  }

  .product-card-wishlist:hover {
    color: var(--primary-color);
  }
}
