.search {
  background: var(--bg-color);
}

.search-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}

.search-btn-icon {
  opacity: 0.6;
}

@media (width >= 992px) {
  .search {
    width: 376px;
    border-radius: 2px;
    background: var(--gray-color);
    padding: 8px 12px;
    margin: 0 70px;
    position: relative;
  }

  .search-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
