.benefit {
  margin: 40px auto;
}

.benefit-icon {
  width: 48px;
}

.benefit-text {
  font-size: var(--fs-benefit);
  color: var(--heading-color-primary);
}

@media (width >= 768px) {
  .benefit {
    margin: 60px auto;
  }
}

@media (width >= 992px) {
  .benefit {
    margin-bottom: 80px;
    margin-top: 103px;
  }

  .benefit-divider {
    height: 80px;
    border: 1px solid var(--primary-color);
  }

  .benefit-text:hover {
    border-bottom: 1px solid var(--dark-color);
  }
}
