.benefit {
  margin-top: clamp(2.5rem, 0.5rem + 6.25vw, 6.4375rem);
  margin-bottom: clamp(2.5rem, 0.5rem + 6.25vw, 5rem);
}

.benefit-icon {
  width: 48px;
}

.benefit-text {
  font-size: var(--fs-benefit);
  color: var(--heading-color-primary);
}

@media (width >= 992px) {
  .benefit-divider {
    height: 80px;
    border: 1px solid var(--primary-color);
  }

  .benefit-text:hover {
    border-bottom: 1px solid var(--dark-color);
  }
}
