.newsletter-title {
  margin-bottom: 24px;
}

.newsletter-desc {
  margin-bottom: 14px;
}

.newsletter-form {
  gap: 32px;
}

.newsletter-map {
  margin-top: 40px;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.highlight {
  font-weight: var(--fw-semibold);
}

@media (width >= 768px) {
  .newsletter-content {
    max-width: 555px;
  }

  .newsletter-title {
    margin-bottom: 31px;
  }

  .newsletter-btn {
    margin-top: 8px;
  }
}

@media (width >= 992px) {
  .newsletter-wrapper {
    gap: 60px;
  }

  .newsletter-content {
    flex: 1;
  }

  .newsletter-desc {
    margin-bottom: 0;
  }

  .newsletter-btn {
    margin-top: 27px;
  }

  .newsletter-map {
    flex: 1;
    max-width: 577px;
    left: 0;
    transform: none;
  }

  .highlight {
    font-weight: var(--fw-regular);
  }
}
