.benefit {
  padding: 30px 0;
}

.benefit__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: var(--fs-price);
  font-weight: var(--fw-semibold);
}

.benefit__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.benefit__divider {
  height: 80px;
  border: 1px solid var(--primary-color);
}

.benefit__link {
  border-bottom: 1px solid var(--dark-color);
}
