.benefit {
  margin: 40px auto;
}

.benefit__list {
  align-items: center;
}

.benefit__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 48px;
  padding: 5px;
}

.benefit__divider {
  display: none;
}

.benefit__text {
  margin-left: 20px;
  font-size: var(--fs-price);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  color: var(--heading-color-primary);
}

@media (width >= 768px) {
  .benefit {
    margin: 60px auto;
  }

  .benefit__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* .benefit__item {
    margin-right: 50px;
  } */
}

@media (width >= 992px) {
  .benefit {
    margin-bottom: 80px;
    margin-top: 103px;
  }

  .benefit__divider {
    display: flex;
    height: 80px;
    border: 1px solid var(--primary-color);
    margin: 0 61px;
  }

  .benefit__text:hover {
    border-bottom: 1px solid var(--dark-color);
  }
}
