.benefit {
  margin-top: 103px;
}

.benefit__list {
  display: flex;
  align-items: center;
}

.benefit__item {
  display: flex;
  align-items: center;
}

.benefit__divider {
  height: 80px;
  border: 1px solid var(--primary-color);
  margin: 0 61px;
}

.benefit__text {
  margin-left: 20px;
  font-size: var(--fs-price);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  color: var(--heading-color-primary);
}

.benefit__read {
  border-bottom: 1px solid var(--dark-color);
}
