.footer-area {
  background: var(--primary-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.footer-area__top {
  padding: 48px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-area__grid {
  margin-left: 144px;
  margin-right: 161px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 653px;
  gap: 0 78px;
}

.footer-area__title {
  white-space: nowrap;
  font-weight: var(--fw-semibold);
  margin-bottom: 19px;
}

.footer-area__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer-area__img {
  width: 61px;
  height: 25px;
}

.footer-area__list {
  list-style: none;
}

.footer-area__item {
  display: flex;
  margin-bottom: 15px;
}

.footer-area__link {
  display: flex;
  color: var(--bg-color);
  font-weight: var(--fw-regular);
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  opacity: 0.8;
  text-decoration: none;
}

.footer-area__link:hover {
  opacity: 1;
}

.footer-area__info-icon {
  margin-right: 10px;
}

.footer-area__support {
  width: 171px;
  height: 127px;
  flex-direction: column;
  display: flex;
  color: var(--bg-color);
  font-weight: var(--fw-regular);
}

.footer-area__desc {
  width: 148px;
  line-height: var(--lh-tight);
  margin-bottom: 23px;
  font-size: var(--fs-typ);
}

.btn--footer {
  padding: 12px 26px;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.btn--footer:hover {
  background: var(--bg-color);
  color: var(--primary-color);
}

.footer-area__bottom {
  border-top: 1px solid var(--bg-color);
  padding: 16px 0;
  align-items: center;
}

.footer-area__bottom-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-regular);
  opacity: 0.6;
}

.footer-area__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
}

.footer-area__social {
  display: flex;
  gap: 14px;
}

.footer-area__social-icon {
  width: 28px;
  height: 28px;
}

.footer-area__payments {
  display: flex;
  gap: 12px;
}

.footer-area__payments-icon {
  width: 44px;
  height: 28px;
}
