.header-area {
  border-bottom: 1px solid var(--primary-color);
}

.header-area__inner {
  display: flex;
  align-items: center;
}

.header-area__top {
  padding: 18px;
}

.header-area__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  margin-right: 16px;
}

.header-area__img {
  width: 61px;
  height: 25px;
}

.logo__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
}

.logo__divider {
  width: 1px;
  height: 30px;
  background: var(--primary-color);
  opacity: 0.4;
}

.logo__tagline {
  color: var(--secondary-color);
  font-weight: var(--fw-regular);
  line-height: 100%;
  font-size: var(--fs-badge);
}

.header-area__search {
  flex: 1;
  margin: 0 80px;
}

.header-area__navigation {
  display: none;
}

.header-area__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}

.header-area__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-area__wishlist,
.header-area__user,
.header-area__contact-top {
  display: none;
}

.header-area__bottom {
  display: none;
}

@media (width >= 768px) {
  .header-area__inner {
    gap: 70px;
  }

  .header-area__icon:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    border: 1px solid var(--primary-color);
  }

  .header-area__contact-top {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: auto;
  }

  .header-area__phone {
    font-weight: var(--fw-regular);
    line-height: var(--lh-normal);
    margin-left: 8px;
  }

  .header-area__wishlist,
  .header-area__user {
    display: flex;
  }

  .header-area__badge {
    position: absolute;
    top: -8px;
    right: -6px;
  }

  .header-area__user::after {
    display: none;
  }
}

@media (width >= 992px) {
  .header-area__inner {
    gap: 70px;
  }

  .header-area__navigation {
    display: block;
  }

  .header-area__policy {
    display: flex;
    gap: 24px;
    font-size: var(--fs-typ);
    line-height: var(--lh-tight);
    font-weight: var(--fw-regular);
  }

  .header-area__policy-text {
    text-decoration: none;
    color: var(--text-color-nav);
  }

  .header-area__policy-text:hover {
    color: var(--primary-color);
  }

  .header-area__bottom {
    display: block;
    border-top: 1px solid var(--primary-color);
    padding: 16px 0;
  }

  .header-area__wishlist,
  .header-area__user {
    display: block;
  }

  .header-area__menu,
  .header-area__user::after,
  .header-area__contact-top {
    display: none;
  }

  .header-area__contact {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: auto;
  }
}
