.header-area {
  border-bottom: 1px solid var(--primary-color);
}

.header-area__inner {
  display: flex;
  align-items: center;
  gap: 70px;
}

.header-area__top {
  padding: 18px 0;
}

.header-area__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.header-area__img {
  width: 61px;
  height: 25px;
}

.logo__brand {
  font-weight: var(--fw-regular);
  color: var(--dark-color);
  display: flex;
  align-items: center;
}

.logo__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
}

.logo__icon-icon {
  height: 12px;
  width: auto;
  display: block;
  transform: translateY(1px);
}

.logo__divider {
  width: 1px;
  height: 30px;
  background: var(--primary-color);
  opacity: 0.4;
}

.logo__tagline {
  width: 51px;
  color: var(--secondary-color);
  font-weight: var(--fw-regular);
  line-height: 100%;
  font-size: var(--fs-badge);
}

.header-area__search {
  flex: 1;
  margin: 0 80px;
}

.header-area__policy {
  display: flex;
  gap: 24px;
  font-size: var(--fs-typ);
  line-height: var(--lh-tight);
  font-weight: var(--fw-regular);
}

.header-area__policy-text {
  text-decoration: none;
  color: var(--text-color-nav);
}

.header-area__policy-text:hover {
  color: var(--primary-color);
}

.header-area__actions {
  display: flex;
  align-items: center;
}

.header-area__icon {
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-area__icon:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 28px;
  background: var(--primary-color);
  opacity: 0.4;
}

.header-area__badge {
  position: absolute;
  top: -10px;
  right: 10px;
}

.header-area__bottom {
  border-top: 1px solid var(--primary-color);
  padding: 16px 0;
}

.header-area__contact {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: auto;
}

.header-area__phone {
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  margin-left: 8px;
}
