.hero {
  background: none;
  margin-top: 72px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  font-size: var(--fs-badge);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  padding: 10px;
}

.hero__title {
  margin: 32px 0;
}

.hero__desc {
  width: 470px;
  margin-bottom: 39px;
}

.hero__image-block {
  width: 627px;
  height: 533px;
  position: relative;
}

.hero__promo {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 18px;
  letter-spacing: 3px;
  color: var(--text-color);
  margin: 10px 0;
}

.hero__img {
  width: 323px;
  margin-right: 70px;
  margin-left: auto;
}

.hero__note {
  position: absolute;
  right: 0;
  font-weight: var(--fw-regular);
  color: var(--heading-color-secondary);
}

.hero__slider {
  position: absolute;
  margin-top: 48px;
  left: 10px;
}

.hero__pagination {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__pagination-dot {
  height: 70px;
  border: 1px solid var(--primary-color);
  opacity: 0.3;
}

.hero__pagination-dot--active {
  height: 70px;
  border: 1px solid var(--primary-color);
  opacity: 1;
}
