.newsletter__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 61px;
}

.newsletter__form {
  flex: 1;
  margin-top: 30px;
}

.newsletter__content {
  flex-direction: column;
  height: 178px;
  justify-content: space-between;
  flex: 1;
}

.newsletter__title {
  margin-bottom: 24px;
}

.newsletter__desc {
  width: 555px;
  margin-bottom: 59px;
}

.newsletter__btn {
  margin-top: 16px;
  width: 100%;
}

.newsletter__map {
  flex: 1;
}
