.product-detail {
  margin-top: 36px;
}

.product-detail__info {
  display: flex;
  flex-direction: column;
}

.product-detail__title {
  margin-bottom: 12px;
}

.product-detail__author {
  font-size: var(--fs-author);
  line-height: var(--lh-normal);
  font-weight: var(--fw-regular);
  margin-bottom: 12px;
  color: var(--text-color-primary);
}

.product-detail__rating {
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.product-detail__price {
  font-size: var(--fs-price);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-normal);
  margin-bottom: 16px;
}

.product-detail__description {
  width: 95%;
  margin-bottom: 20px;
}

.product-detail__btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
}

.product-detail__divider {
  height: 1px;
  background: var(--secondary-color);
  margin: 24px 0;
}

.product-detail__meta-label {
  color: var(--tertiary-color);
  opacity: 0.7;
}

.product-detail__meta-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 18px;
}

@media (width >= 768px) {
  .product-detail__title,
  .product-detail__author {
    margin-bottom: 16px;
  }

  .product-detail__description,
  .product-detail__rating,
  .product-detail__price {
    margin-bottom: 35px;
    width: 100%;
  }

  .product-detail__actions {
    margin-top: 21px;
    display: flex;
    gap: 32px;
    margin-right: 30px;
  }

  .product-detail__btn {
    padding: 12px 79px;
  }

  .product-detail__info {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .product-detail__meta {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }

  .product-detail__meta-item-primary .product-detail__meta-item {
    grid-template-columns: 1fr 1.4fr;
  }

  .product-detail__meta-item-secondary .product-detail__meta-item {
    grid-template-columns: 1fr 1fr;
    margin-left: 34px;
  }

  .product-detail__meta-label {
    color: var(--tertiary-color);
    opacity: 0.7;
  }

  .product-detail__divider {
    margin: 36px 0;
  }
}

@media (width >= 992px) {
  .product-detail {
    margin-top: 32px;
  }

  .product-detail__info {
    width: 95%;
  }

  .product-detail__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .product-detail__divider {
    margin-bottom: 17px;
  }

  .product-detail__meta-item {
    margin-top: 19px;
    margin-bottom: 0;
  }
}
