.product__title {
  margin-bottom: 40px;
}

.product__slider {
  position: relative;
  margin-bottom: 43px;
}

.product__viewport {
  overflow: hidden;
}

.product__track {
  display: flex;
  justify-content: space-between;
  transition: transform 0.4s ease;
}

.product__control {
  position: absolute;
}

.product__control--prev {
  top: 191px;
  left: -72px;
}

.product__control--next {
  top: 191px;
  right: -72px;
}

.product__pagination {
  margin-top: 20px;
  text-align: center;
}
