.product {
  padding-right: 0;
}

.product__title {
  margin-bottom: 40px;
}

.product__slider {
  position: relative;
  margin-bottom: 43px;
}

.product__viewport {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product__viewport::-webkit-scrollbar,
.product__control {
  display: none;
}

.product__track {
  display: flex;
  gap: 32px;
  padding-right: 16px;
}

.product__pagination {
  margin-top: 20px;
  text-align: center;
}

@media (width >= 992px) {
  .product__slider {
    padding: 0;
  }

  .product__viewport {
    overflow: hidden;
  }

  .product__control {
    display: flex;
    position: absolute;
    top: 191px;
  }

  .product__control--prev {
    left: -72px;
  }

  .product__control--next {
    right: -72px;
  }

  .product__track {
    justify-content: space-between;
    transition: transform 0.4s ease;
  }
}
