.benefit {
  margin-top: clamp(2.5rem, 0.5rem + 6.25vw, 6.4375rem);
  margin-bottom: clamp(2.5rem, 0.5rem + 6.25vw, 5rem);
}

.benefit-icon {
  width: 42px;
}

.benefit-text {
  font-size: var(--fs-benefit);
  color: var(--heading-color-primary);
}

@media (width >= 768px) {
  .benefit-item {
    padding: 1rem 0;
  }
}

@media (width >= 992px) {
  .benefit-item {
    border-right: 1px solid var(--primary-color);
    padding-right: 3.75rem;
  }

  .benefit-text:hover {
    border-bottom: 1px solid var(--dark-color);
  }

  .benefit-item:last-child {
    border-right: none;
    padding-right: 0;
  }
}
