.footer-area {
  background: var(--primary-color);
}

.footer-area .container {
  padding-right: 0;
}

.footer-title {
  font-size: var(--fs-regular);
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list a {
  color: var(--bg-color);
  font-size: var(--fs-regular);
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-list a:hover {
  opacity: 1;
}

.btn-outline-light:hover {
  background: var(--bg-color);
  color: var(--primary-color);
}

.img-fluid {
  width: 61px;
  height: 25px;
}

.footer-payments-icon {
  width: 36px;
}

.footer-payments-icon.master {
  width: 36px;
}

.footer-social-icon {
  width: 28px;
  height: 28px;
}

.copy-right {
  font-size: var(--fs-typ);
}

.footer-logo {
  margin-bottom: 32px;
  width: 61px;
}

@media (width >= 768px) {
  .footer-area .container {
    padding-right: 20px;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-elements {
    gap: 144px;
  }

  .footer-payments-icon {
    width: 44px;
    height: 28px;
  }

  .footer-list a {
    white-space: nowrap;
  }

  .footer-payments-icon.master {
    width: 55px;
    height: 32px;
  }

  .copy-right {
    font-size: var(--fs-regular);
  }
}

@media (width >= 992px) {
  .footer-area .container {
    padding-right: 0;
  }

  .footer-row {
    gap: 66px;
  }
}
