.newsletter-title {
  margin-bottom: 24px;
}

.newsletter-desc {
  margin-bottom: 14px;
}

.newsletter-form {
  gap: 32px;
}

.newsletter-map {
  margin-top: 40px;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.highlight {
  font-weight: var(--fw-semibold);
}

@media (width >= 768px) {
  .newsletter-content {
    max-width: 565px;
  }

  .newsletter-title {
    margin-bottom: 33px;
  }

  .newsletter-btn {
    margin-top: 8px;
  }
}

@media (width >= 992px) {
  .newsletter-wrapper {
    gap: 60px;
  }

  .newsletter-desc {
    margin-bottom: 57px;
  }

  .newsletter-btn {
    margin-top: 15px;
  }

  .newsletter-map {
    margin-top: 40px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .highlight {
    font-weight: var(--fw-regular);
  }
}
