.product-detail {
  margin-top: 36px;
}

.product-detail-title {
  margin-bottom: 12px;
}

.product-detail-author {
  font-size: var(--fs-author);
  margin-bottom: 12px;
  color: var(--text-color-primary);
}

.product-detail-rating {
  margin-bottom: 20px;
}

.product-detail-price {
  font-size: var(--fs-price);
  margin-bottom: 16px;
}

.product-detail-description {
  width: 95%;
}

.product-detail-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
}

.product-detail-meta-label {
  color: var(--tertiary-color);
  opacity: 0.7;
}

.product-detail-meta-item {
  margin-bottom: 18px;
}

.product-detail-actions {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 35px;
}

.product-detail-meta {
  margin-top: 36px;
}

@media (width >= 768px) {
  .product-detail {
    margin-top: 16px;
  }

  .product-detail-title,
  .product-detail-author {
    margin-bottom: 16px;
  }

  .product-detail-rating,
  .product-detail-price {
    margin-bottom: 36px;
    width: 100%;
  }

  .product-detail-actions {
    gap: 32px;
    margin-right: 37px;
  }

  .product-detail-info {
    width: 75%;
  }
}

@media (width >= 992px) {
  .product-detail {
    margin-top: 32px;
  }

  .product-detail-info {
    width: 100%;
  }

  .product-detail-description {
    width: 98%;
    margin-bottom: 0;
  }

  .product-detail-quantity {
    margin: 34px 0;
  }

  .product-detail-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .product-detail-btn {
    margin-top: 9px;
  }

  .product-detail-meta-item {
    margin-top: 19px;
    margin-bottom: 0;
  }
}
