.product-title {
  margin-bottom: 40px;
}

.product-slider {
  margin-bottom: 43px;
}

.product-viewport {
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-right: calc(-1 * var(--container-padding));
}

.product-viewport::-webkit-scrollbar {
  display: none;
}

.product-track {
  gap: 32px;
  padding-right: 16px;
}

.product-control {
  display: none;
}

.product-pagination {
  margin-top: 20px;
  text-align: center;
}

@media (width >= 992px) {
  .product-viewport {
    overflow: hidden;
  }

  .product-track {
    transition: transform 0.4s ease;
  }
}

@media (width > 1300px) {
  .product-viewport{
    margin-right: 0;
  }

  .product-control {
    display: flex;
    top: 191px;
  }

  .product-control-prev {
    left: -72px;
  }

  .product-control-next {
    right: -72px;
  }

  .product-track {
    padding-right: 0;
  }
}
