.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  font-size: var(--fs-badge);
  line-height: var(--lh-tight);
  font-weight: var(--fw-medium);
  border-radius: 50px;
  background-color: var(--tertiary-color);
  color: var(--bg-color);
}

@media (width >= 768px) {
  .badge {
    display: inline-flex;
  }
}
