.breadcrumb {
  display: flex;
  gap: 8px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-typ);
  line-height: var(--lh-tight);
  margin-bottom: 12px;
}

.breadcrumb a {
  color: var(--black-color-primary);
  text-decoration: none;
}

.breadcrumb__current {
  color: var(--black-color);
}

.breadcrumb__separator {
  color: var(--primary-color);
}
