.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 2px;
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  transition: 0.3s ease;
}

.btn-outline-primary {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
