.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 2px;
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  transition: 0.3s ease;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn--primary:hover {
  opacity: 0.9;
}

.btn--outline {
  background: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
