.gallery {
  gap: 16px;
  width: 100%;
  margin-bottom: 32px;
}

.gallery-main {
  order: 1;
  width: 100%;
  height: 100%;
}

.gallery-thumbnails {
  order: 2;
  gap: 12px;
  width: 100%;
}

.gallery-main-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.gallery-thumb-box {
  aspect-ratio: 1/1;
  flex: 1;
  border: 0.5px solid var(--primary-color);
  border-radius: 2px;
  padding: 10px 19px;
  cursor: pointer;
}

.gallery-thumb {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: transform 0.2s;
}

.gallery-badge {
  top: 8px;
  left: 8px;
  gap: 6px;
  padding: 4px 8px;
  border-radius: 20px;
  background: var(--bg-color);
  font-size: var(--fs-badge);
}

@media (width >= 768px) {
  .gallery {
    width: 100%;
    gap: 20px;
    margin-bottom: 48px;
  }

  .gallery-thumbnails {
    order: 1;
    flex: 0 0 148px;
    gap: 20px;
  }

  .gallery-main {
    height: 728px;
  }

  .gallery-thumb-box {
    padding: 16px 35px;
  }

  .gallery-slider {
    right: 24px;
    top: 95%;
    transform: translateY(-50%);
    opacity: 0.6;
  }

  .gallery-slider-btn {
    opacity: 0.6;
  }
}

@media (width >= 992px) {
  .gallery {
    margin-bottom: 0;
  }

  .gallery-main {
    height: 670px;
  }

  .gallery-thumb:hover {
    transform: scale(1.05);
  }

  .gallery-thumb-box {
    width: 148px;
    height: 148px;
  }

  .gallery-slider-btn:hover{
    opacity: 1;
  }
}
