.map {
  overflow: hidden;
}

.map__image {
  width: 100%;
  display: block;
}

.map__label {
  font-size: var(--fs-badge);
  font-weight: var(--fw-regular);
  white-space: nowrap;
}

@media (width >= 992px) {
  .map {
    border-radius: 5px;
  }
}
