.pagination__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: inline-flex;
  margin-left: 10px;
  opacity: 0.3;
}

.pagination__dot--active {
  background-color: var(--primary-color);
  opacity: 1;
}
