.pagination__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

.pagination__dot--active {
  background-color: var(--primary-color);
}
