.quantity-btn {
  width: 17px;
  height: 17px;
  border: 1px solid var(--dark-color);
  border-radius: 50%;
}

.quantity-number {
  font-size: var(--fs-regular);
  color: var(--text-color-primary);
}

@media (width >= 768px) {
  .quantity-btn {
    width: 20px;
    height: 20px;
  }
}

@media (width >= 992px) {
  .quantity-btn:hover {
    background: var(--gray-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
  }
}
