.search-box {
  max-width: 377px;
  margin: 0 70px!important;
  background: var(--gray-color)!important;
  border-radius: 2px!important;
}

.search-box input {
  box-shadow: none !important;
  font-size: var(--fs-typ)!important;
}
