.search {
  width: 376px;
  height: 36px;
  border-radius: 2px;
  background: var(--gray-color);
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.search input {
  flex: 1;
  width: 131px;
  height: 18px;
  border: none;
  outline: none;
  background: transparent;
  font-weight: var(--fw-regular);
  font-size: var(--fs-typ);
  line-height: var(--lh-tight);
  color: var(--text-color-primary);
}

.search__btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__btn img {
  opacity: 0.6;
}
