.search {
  width: 376px;
  height: 36px;
  border-radius: 2px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.search__btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__btn-icon {
  opacity: 0.6;
}

@media (width >= 769px) {
  .search {
    background: var(--gray-color);
  }
}
