.search {
  background: var(--bg-color);
}

.search__btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__btn-icon {
  opacity: 0.6;
}

@media (width >= 992px) {
  .search {
    width: 376px;
    border-radius: 2px;
    background: var(--gray-color);
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }
}
