.slider-btn {
  width: 32px;
  height: 32px;
}

@media (width >= 992px) {
  .slider-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .slider-btn:hover svg {
    fill: var(--bg-color);
  }
}
